@model List<Proyecto.Models.Experiencia>
@{
    int tipo = ViewBag.tipo;
}

<div id="experiencia" class="page">

    <h1 class="page-header remove-margin">
        <a class="btn btn-primary pull-right" href="~/admin/experiencia/crud?tipo=@tipo">Agregar</a>
        @ViewBag.Title
    </h1>

    <table data-toggle="table"
             data-height="550"
             data-search="true"
             data-show-toggle="true"
             data-show-columns="true"
             data-locale="es-MX"
             data-show-refresh="false"
             data-page-size="100"
             data-pagination="true"
             data-show-export="true"
             data-export-types="['excel', 'pdf']"
             data-striped="true">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Titulo</th>
                <th>Desde</th>
                <th>Hasta</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var fila in Model)
            {
                <tr>
                    <td><a href="~/admin/experiencia/crud/@fila.id">@fila.Nombre</a></td>
                    <td>@fila.Titulo</td>
                    <td>@fila.Desde</td>
                    <td>@fila.Hasta</td>
                </tr>
            }
        </tbody>
    </table>
</div>